body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
}

.body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    width: 50vw;
    height: 50vw;
    flex-wrap: wrap;
    margin: 0;
    border-radius: 2px;
    border-style: solid;
    background-color: white;
}

.cell {
    width: calc(100% / 16); /* Default width */
    height: calc(100% / 16); /* Default height */
    margin: 0;
}

/* Add these rules to apply the calculated width and height */
.cell.custom-size {
    width: calc(100% / var(--size));
    height: calc(100% / var(--size));
}

.button{
    height: 5vh;
    width: 7vw;
    margin-bottom: 3vh;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: aliceblue;
}

.buttons{
    margin-top: 39.5vh;
    margin-left: 12.5vw;
    display: flex;
    flex-direction: column;
    position: fixed;
}

.title{
    position: fixed;
    text-align: center;
    font-size: 5vh;
    font-family: 'Gill Sans MT';
    margin-top: 4px;
}

.titleCont{
    width: 100vw;
    display: flex;
    justify-content: center;
}